@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .chonky-underline-megenta::after {
    @apply transition-all ease-in-out;
    content: '';
    position: absolute;
    bottom: 10.5%;
    z-index: -1;
    height: 0.3em;
    width: 104%;
    left: -1%;
    background: linear-gradient(
      65deg,
      #df058d 0%,
      #df058d 100%,
      rgba(255, 209, 0, 0) 100%
    );
  }

  .chonky-underline-blue::after {
    @apply transition-all ease-in-out;
    content: '';
    position: absolute;
    bottom: 10.5%;
    z-index: -1;
    height: 0.3em;
    width: 104%;
    left: -1%;
    background: linear-gradient(
      65deg,
      #2c49d8 0%,
      #2c49d8 100%,
      rgba(255, 209, 0, 0) 100%
    );
  }

  .chonky-underline-yellow::after {
    transition: all 0.1s ease-in-out;
    content: '';
    position: absolute;
    bottom: 13.5%;
    z-index: -1;
    height: 0.3em;
    width: 104%;
    left: -1%;
    background: linear-gradient(
      65deg,
      #ff6b2b 0%,
      #ff6b2b 100%,
      rgba(255, 209, 0, 0) 100%
    );
  }
}
